#container {
	max-width: 100%;
	height: 1000px;
	padding-top: 100px;
	text-align: center;
	background-color: lightblue;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-left: 200px;
	margin-right: 200px;
}

#letter1 {
	font-size: 50px;
}

#textContainer {
	max-width: 500px;
	text-align:center;
	margin-left: 27%;
}

#letters0 {
display: inline-block;
text-align:center;
width:100px;
height: 100px;
font-size: 70px;
margin-top: 20px;
}

#letters1 {
display: inline-block;
text-align:center;
width:100px;
height: 100px;
font-size: 70px;
margin-top: 20px;
}

#letters2 {
display: inline-block;
text-align:center;
width:100px;
height: 100px;
font-size: 70px;
margin-top: 20px;
}

#letters3 {
display: inline-block;
text-align:center;
width:100px;
height: 100px;
font-size: 70px;
margin-top: 20px;
}

#letters4 {
display: inline-block;
text-align:center;
width:100px;
height: 100px;
font-size: 70px;
margin-top: 20px;
}

